/**
 * 
 * Type your custom styles
 *
 */

.champion-grid-item {
    background-color: rgb(51, 45, 76);
    border: 2px solid black;
    border-radius: 6px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

.champion-grid-item .champion-name {
    font-size: 11px;
    color: #ffffe9;
    white-space: nowrap;
}

.champion-grid-item .champion-name a {
    text-decoration: none !important;
}

.champion .title {
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 900;
}

.champion .subtitle {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.tag  {
    margin-top: 10px;
    text-align: center;
}

.tag .Mage {
    background-color: #663399;
}

.tag .Assassin {
    background-color: #96281B;
}

.tag .Support {
    background-color: #1BBC9B;
}

.tag .Tank {
    background-color: #4183D7;
}

.tag .Fighter {
    background-color: #E26A6A;
}

.tag .Marksman {
    background-color: #F27935;
}

.stats {
    text-align: center;
    margin-top: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px rgba(255, 255, 255, 0.35) solid;
    border-bottom: 1px rgba(255, 255, 255, 0.35) solid;
}

.best {
    text-align: center;
    margin-top: 40px;
}

.best .title {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 12px;
}

.best .img {
    max-width: 115%;
}

.best .item6 {
        margin-top: 44px;
}

.side-block {
        margin-top: 35px;
}

._l91kb2 {
    visibility: hidden;
    margin-top: 30px;
}

._htijwp{
    -webkit-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1);
}

._4pvjjd {
    display: inline-block;
    float: none;
    margin-right: -14px;
}

.subsubtitle {
    margin-top: 4px;
    margin-left: 4px;
    font-weight: 900;
}

.navbar-brand {
    margin-top: 12.1%;
    margin-bottom: -12.1%;
}

.runes {
    margin-top: 10px;
}

.champion-image {
    width: 6%;
    margin-right: 10px;
}

.premium {
    margin-left: 18px;
    font-size: 20px;
    position: absolute;
    margin-top: 19px;
}

.key {
    filter: grayscale(1);
    max-width: 90%;
}