<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Stats Legend</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Icon -->
<link rel="icon" type="image/png" href="assets/images/icon.png">
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="./assets/bower_components/bootstrap/dist/css/bootstrap.min.css" />
<!-- FontAwesome -->
<link rel="stylesheet" type="text/css" href="./assets/bower_components/font-awesome/css/font-awesome.min.css" />
<!-- Owl Carousel -->
<link rel="stylesheet" type="text/css" href="./assets/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />
<!-- Magnific Popup -->
<link rel="stylesheet" type="text/css" href="./assets/bower_components/magnific-popup/dist/magnific-popup.css" />
<!-- Revolution Slider -->
<link rel="stylesheet" type="text/css" href="./assets/plugins/slider-revolution/examples%26source/rs-plugin/css/settings.css" />
<!-- Bootstrap Sweetalert -->
<link rel="stylesheet" type="text/css" href="./assets/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" />
<!-- Social Likes -->
<link rel="stylesheet" type="text/css" href="./assets/bower_components/social-likes/dist/social-likes_flat.css" />
<!-- Youplay -->
<link rel="stylesheet" type="text/css" href="./assets/youplay/css/youplay.min.css" />
<!-- Custom Styles -->
<link rel="stylesheet" type="text/css" href="./assets/css/custom.css" />



<script src="./assets/bower_components/angular/angular.min.js"></script>
<script src="./assets/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="./assets/bower_components/angular-css/angular-css.min.js"></script>
<script src="./scripts/modules/routerApp.js"></script>
<script src="./scripts/modules/app.js"></script>


</head>
<body ng-app="app">
<!-- Preloader -->
<div class="page-preloader preloader-wrapp">
    <img src="assets/images/logo.png" alt="">
    <div class="preloader">
    </div>
</div>
<!-- /Preloader -->
<!-- Navbar -->
<nav class="navbar-youplay navbar navbar-default navbar-fixed-top ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="off-canvas" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">
            Toggle navigation</span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            </button>
            <a class="navbar-brand" href="/#/home">
                <img src="assets/images/logo.png" alt="">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav"  ng-show="isLogin">
                <li>
                    <a href="/#/home">
                    Champions
                    <span class="label">List of champions</span></a>
                </li>
                <li>
                    <a href="/#/tier">
                    Tier List
                    <span class="label">Top of champions</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="isLogin">
                <li class="dropdown dropdown-hover">
                    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                              {{userName}} <span class="caret"></span> <span class="label">Account</span>
                            </a>
                    <div class="dropdown-menu">
                      <ul role="menu">
                        <li><a href="/#/home">Profile <span class="badge pull-right bg-warning">13</span></a>
                        </li>
                        <li class="divider"></li>

                        <li><a href="/#/home" ng-click="reload()">Log Out</a>
                        </li>
                      </ul>
                    </div>
                  </li>
                <li>
                    <a class="search-toggle" href="search.html">
                        <i class="fa fa-search">
                        </i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- /Navbar -->
<!-- Main Content -->
<div ui-view></div>
<!-- /Main Content -->
<!-- Search Block -->
<div class="search-block">
    <a href="#!" class="search-toggle glyphicon glyphicon-remove">
    </a>
    <form action="http://html.nkdev.info/youplay/dark/search.html">
        <div class="youplay-input">
            <input type="text" name="search" placeholder="Search...">
        </div>
    </form>
</div>
<!-- /Search Block -->
<!-- jQuery -->
<script type="text/javascript" src="./assets/bower_components/jquery/dist/jquery.min.js">
</script>
<!-- Hexagon Progress -->
<script type="text/javascript" src="./assets/bower_components/HexagonProgress/jquery.hexagonprogress.min.js">
</script>
<!-- Bootstrap -->
<script type="text/javascript" src="./assets/bower_components/bootstrap/dist/js/bootstrap.min.js">
</script>
<!-- Jarallax -->
<script type="text/javascript" src="./assets/bower_components/jarallax/dist/jarallax.min.js">
</script>
<!-- Smooth Scroll -->
<script type="text/javascript" src="./assets/bower_components/smoothscroll-for-websites/SmoothScroll.js">
</script>
<!-- Owl Carousel -->
<script type="text/javascript" src="./assets/bower_components/owl.carousel/dist/owl.carousel.min.js">
</script>
<!-- Countdown -->
<script type="text/javascript" src="./assets/bower_components/jquery.countdown/dist/jquery.countdown.min.js">
</script>
<!-- Magnific Popup -->
<script type="text/javascript" src="./assets/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js">
</script>
<!-- Revolution Slider -->
<script type="text/javascript" src="./assets/plugins/slider-revolution/examples%26source/rs-plugin/js/jquery.themepunch.tools.min.js">
</script>
<script type="text/javascript" src="./assets/plugins/slider-revolution/examples%26source/rs-plugin/js/jquery.themepunch.revolution.min.js">
</script>
<!-- ImagesLoaded -->
<script type="text/javascript" src="./assets/bower_components/imagesloaded/imagesloaded.pkgd.min.js">
</script>
<!-- Isotope -->
<script type="text/javascript" src="./assets/bower_components/isotope/dist/isotope.pkgd.min.js">
</script>
<!-- Bootstrap Validator -->
<script type="text/javascript" src="./assets/bower_components/bootstrap-validator/dist/validator.min.js">
</script>
<!-- Bootstrap Sweetalert -->
<script type="text/javascript" src="./assets/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js">
</script>
<!-- Social Likes -->
<script type="text/javascript" src="./assets/bower_components/social-likes/dist/social-likes.min.js">
</script>
<!-- Youplay -->
<script type="text/javascript" src="./assets/youplay/js/youplay.min.js">
</script>
<!-- init youplay -->
</body>
</html>