<div class="champion col-md-5 col-xs-7">
    <div class="row">
        <div class="col-md-4 col-xs-5">
            <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{item.image.full}}" alt="{{item.name}}, {{item.title}}">
        </div>
        <div class="col-md-8 col-xs-7">
            <div class="title">{{item.name}}<span class="label label-default premium" ng-show="!isPremium">Basic</span><span class="label label-Success premium" ng-show="isPremium">Premium</span></div>
            <div class="subtitle">{{item.title}}</div>
            <div class="row tag">
                <div class="col-md-6 col-xs-6 {{item.tags[0]}}" ng-show="item.tags[0]">
                    {{item.tags[0]}}
                </div>
                <div class="col-md-6 col-xs-6 {{item.tags[1]}}" ng-show="item.tags[1]">
                    {{item.tags[1]}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 stats" ng-show="stats.winRate">
        <div class="col-md-2 col-xs-2">
            Win Rate<br>
            {{stats.winRate}}%
        </div>
        <div class="col-md-2 col-xs-2">
            KDA<br>
            {{stats.kda}}
        </div>
        <div class="col-md-2 col-xs-2">
            Double Kills<br>
            {{stats.doubleKills}}%
        </div>
        <div class="col-md-2 col-xs-2" ng-if="stats.tripleKills > 0">
            Triple Kills<br>
            {{stats.tripleKills}}%
        </div>
        <div class="col-md-2 col-xs-2" ng-if="stats.quadraKills > 0">
            Quadra Kills<br>
            {{stats.quadraKills}}%
        </div>
        <div class="col-md-2 col-xs-2" ng-if="stats.pentaKills > 0">
            Penta Kills<br>
            {{stats.pentaKills}}%
        </div>
    </div>
</div>
<div class="row row-eq-height best side-block">
    <h4 class="block-title" style="margin-top: 10px;">Build</h4>
    <div class="col-md-12 col-xs-12">
        <div class="col-md-offset-1 col-md-2 col-xs-3 best">
            <div class="col-md-12 col-xs-12 title">
                Best Spells
            </div>
            <div class="col-md-6 col-xs-6" data-toggle="tooltip" data-placement="top" data-original-title="<b>{{spell0.name}}</b><br>{{spell0.description}}" data-html="true">
                <img class="img" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/{{spell0.image.full}}">
                <div class="subsubtitle">D</div>
            </div>
            <div class="col-md-6 col-xs-6" data-toggle="tooltip" data-placement="top" data-original-title="<b>{{spell1.name}}</b><br>{{spell1.description}}" data-html="true">
                <img class="img" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/spell/{{spell1.image.full}}">
                <div class="subsubtitle">F</div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-6 col-xs-8 best">
            <div class="col-md-12 col-xs-12 title">
                Best Item Build Order
            </div>
            <div class="col-md-2 col-xs-2">
                <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{stats.items.item0}}.png">
                <div class="subsubtitle">1</div>
            </div>
            <div class="col-md-2 col-xs-2">
                <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{stats.items.item1}}.png">
                <div class="subsubtitle">2</div>
            </div>
            <div class="col-md-2 col-xs-2">
                <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{stats.items.item2}}.png">
                <div class="subsubtitle">3</div>
            </div>
            <div class="col-md-2 col-xs-2">
                <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{stats.items.item3}}.png">
                <div class="subsubtitle">4</div>
            </div>
            <div class="col-md-2 col-xs-2" ng-show="!isPremium" data-toggle="tooltip" data-placement="top" data-original-title="Need to be premium to watch this item" data-html="true">
                <img class="key" src="http://s.lolstatic.com/site/2016-season-update/771027dc9533e4950f1dee80b9e00ceb8d4dbcca/img/img-key.png">
                <div class="subsubtitle">5</div>
            </div>
            <div class="col-md-2 col-xs-2" ng-show="!isPremium" data-toggle="tooltip" data-placement="top" data-original-title="Need to be premium to watch this item" data-html="true">
                <img class="key" src="http://s.lolstatic.com/site/2016-season-update/771027dc9533e4950f1dee80b9e00ceb8d4dbcca/img/img-key.png">
                <div class="subsubtitle">6</div>
            </div>
            <div class="col-md-2 col-xs-2" ng-show="isPremium">
                <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{stats.items.item4}}.png">
                <div class="subsubtitle">5</div>
            </div>
            <div class="col-md-2 col-xs-2" ng-show="isPremium">
                <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{stats.items.item5}}.png">
                <div class="subsubtitle">6</div>
            </div>
        </div>
        <div class="col-md-2 col-xs-1 best" ng-show="isPremium">
            <div class="col-md-5 col-xs-12 item6">
                <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/item/{{stats.items.item6}}.png">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-4 col-xs-offset-3 col-xs-6 runes best">
        <div class="col-md-12 col-xs-12 title">
            Best Runes
        </div>
        <div class="col-md-3 col-xs-3" data-toggle="tooltip" data-placement="top" data-original-title="<b>{{mark.name}}</b><br>{{mark.description}}" data-html="true">
            <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/rune/{{mark.image.full}}">
            <div class="subsubtitle">9/9</div>
        </div>
        <div class="col-md-3 col-xs-3" data-toggle="tooltip" data-placement="top" data-original-title="<b>{{glyph.name}}</b><br>{{glyph.description}}" data-html="true">
            <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/rune/{{glyph.image.full}}">
            <div class="subsubtitle">9/9</div>
        </div>
        <div class="col-md-3 col-xs-3" data-toggle="tooltip" data-placement="top" data-original-title="<b>{{seal.name}}</b><br>{{seal.description}}" data-html="true">
            <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/rune/{{seal.image.full}}">
            <div class="subsubtitle">9/9</div>
        </div>
        <div class="col-md-3 col-xs-3" data-toggle="tooltip" data-placement="top" data-original-title="<b>{{quint.name}}</b><br>{{quint.description}}" data-html="true">
            <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/rune/{{quint.image.full}}">
            <div class="subsubtitle">3/3</div>
        </div>
    </div>
    <div class="col-md-12 col-xs-12 side-block best">
    <h4 class="block-title" style="margin-top: 20px;" >Masteries</h4>
        <div class="col-md-offset-2 col-md-8 col-xs-12 title">
            <div ng-show="!isPremium">
                <button type="button" class="btn btn-success btn-lg" style="margin-top: 40px;">
                    Become Premium to see more...
                </button>
            </div>
            <ng-include src="masteries" ng-show="isPremium"></ng-include>
        </div>
    </div>
</div>