<h2 class="mt-0"></h2>
<div class=" _qngo9y col-xs-12">
    <div ng-repeat="item in items">
        <div class=" _95ecnz col-md-1 col-xs-2 champion-grid-item _4swxwm _yq1p7n" data-search-terms-like="{{item.name}}" data-search-terms-exact="Fighter|Tank">
            <a href="/#/champion/{{item.key}}">
                <img class=" _gyrbh" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{item.image.full}}" alt="{{item.name}}, {{item.title}}">
                <span class="champion-name">
                {{item.name}}</span>
            </a>
        </div>
    </div>
</div>