<section class="content-wrap" >
    <!-- Banner -->
    <div class="youplay-banner banner-top youplay-banner-parallax small">
        <div class="image" style="background-image: url('assets/images/banner-blog-bg.jpg')">
        </div>
        <div class="info">
            <div>
                <div class="container">
                    <h1>{{pageTitle}}</h1>
                    <h5>{{subPageTitle}}</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- /Banner -->
    <div class="container youplay-content" ui-view>
        
    </div>
    <!-- Footer -->
    <footer class="youplay-footer-parallax">
        <div class="wrapper" style="background-image: url('assets/images/footer-bg.jpg')">
            <!-- Social Buttons -->
            <div class="social">
                <div class="container">
                    <h3>
                    Connect socially with <strong>
                    Stats Legend</strong>
                    </h3>
                    <div class="social-icons">
                        <div class="social-icon">
                            <a href="#!">
                                <i class="fa fa-facebook-square">
                                </i>
                                <span>
                                Like on Facebook</span>
                            </a>
                        </div>
                        <div class="social-icon">
                            <a href="#!">
                                <i class="fa fa-twitter-square">
                                </i>
                                <span>
                                Follow on Twitter</span>
                            </a>
                        </div>
                        <div class="social-icon">
                            <a href="#!">
                                <i class="fa fa-twitch">
                                </i>
                                <span>
                                Watch on Twitch</span>
                            </a>
                        </div>
                        <div class="social-icon">
                            <a href="#!">
                                <i class="fa fa-youtube-square">
                                </i>
                                <span>
                                Watch on Youtube</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Social Buttons -->
            <!-- Copyright -->
            <div class="copyright">
                <div class="container">
                    <strong>
                    Stats Legend</strong>
                    &copy; 2016. All rights reserved
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </footer>
    <!-- /Footer -->
</section>