
<section class="content-wrap full youplay-login">

  <!-- Banner -->
  <div class="youplay-banner banner-top">
    <div class="image" style="background-image: url('assets/images/banner-bg.jpg')"></div>

    <div class="info">
      <div>
        <div class="container align-center">
          <div class="youplay-form">
            <h1>Login</h1>

            <div class="btn-group social-list dib">
              <a class="btn btn-default" title="Share on Facebook" href="#!"><i class="fa fa-facebook"></i></a>
              <a class="btn btn-default" href="#!" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-default" href="#!" title="Share on Google Plus"><i class="fa fa-google-plus"></i></a>
            </div>

            <form ng-submit="submit()">
              <div class="youplay-input">
                <input type="text" name="login" placeholder="Login" ng-model="inputEmail">
              </div>
              <div class="youplay-input">
                <input type="password" name="password" placeholder="Password" ng-model="inputPassword">
              </div>
              <button class="btn btn-default db" type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Banner -->

</section>