<table class="table table-striped">
<thead>
  <tr>
	<th>#</th>
    <th>Champion</th>
    <th>Win Rate</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="(key, champion) in tier">
    <th scope="row">{{key}}</th>
    <td><a href="/#/champion/{{champion.championId}}"><img class="champion-image" src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{champions[key].image.full}}" alt="{{champions[key].name}}, {{champions[key].title}}">{{champions[key].name}}</a></td>
    <td>{{champion.win}}%</td>
  </tr>
</tbody>
</table>
